@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
* {
    box-sizing: border-box;
}

body {
    width: 100%;
    color: #333;
    background-color: #fff;
    font-size: 16px;
    font-family: -apple-system, Helvetica, Arial, sans-serif;
    font-weight: 300;
}

@media (min-width: 668px) {
    body {
        margin: 0 auto;
        max-width: 668px;
        background-color: #f5f5f5;
        font-size: 20px;
    }
}

h1 {
    font-weight: 900;
    font-size: 1.999em;
    margin: 0;
}

header {
    padding: 0.3em 0.8em;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ececec;
}

@media (min-width: 668px) {
    header {
      padding-left: 0;
    }
}

input, button:focus {
    outline: 0;
}

.main {
    border-bottom: 1px solid #ececec;
}

@media (min-width: 668px) {
    .main {
        background-color: #fff;
        border: 1px solid #ececec;
        border-radius: .28571429rem;
    }
}

.new-todo {
    margin: 0;
    padding: 0.8em;
    width: 100%;
    border: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.todo-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.todo-list li {
    display: flex;
    align-items: center;
    border-top: 1px solid #ececec;
    padding: 0.7em;
}


/* checkbox-fu */

input[type=checkbox] {
    display: none;
}

input[type=checkbox]~label {
    cursor: pointer;
}

input[type=checkbox]:not(:checked)+.checkbox:before {
    font-family: FontAwesome;
    content: "\f096";
}

input[type=checkbox]:checked+.checkbox:before {
    font-family: FontAwesome;
    content: "\f046";
}

input[type=checkbox]:checked~label {
    text-decoration: line-through;
    color: #d9d9d9;
}

input[type=checkbox]:checked+.checkbox {
    text-decoration: none;
}

label.checkbox {
    /* just pushing it down icon slightly */
    padding-top: 0.1em;
    width: 1.25em;
}

label.text {
    /* let text take all remaining space */
    flex: 1;
}


/* delete button */

.todo-list li .delete {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    color: #999;
}

@media (min-width: 668px) {
    .todo-list li .delete {
        display: none;
        color: #f5f5f5;
    }
    .todo-list li:hover .delete {
        display: block;
    }
    .todo-list li .delete:hover {
        color: #333;
    }
}

.todo-list li .delete:after {
    font-family: FontAwesome;
    content: '\f00d';
}

.todo-list li .delete:focus {
    outline: 0;
}
