@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
@import 'https://fonts.googleapis.com/css?family=Roboto:300,900';

body {
    margin: 0 auto;
    max-width: 580px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: #333;
    background-color: #fafafa;
    /* line-height: 1.5; */
}

h1 {
    color: #000;
    font-weight: 900;
    font-size: 4em;
    margin: 0;
}

input, button:focus {
  outline:0;
}

.hidden {
  display: none;
}

.new-todo {
    margin: 0;
    padding: 16px 16px 16px 16px;
    width: 100%;
    font-size: 1.5em;
    line-height: 1.4em;
    border: 1px solid #ececec;
    border-radius: .28571429rem;
    background-color: #fff;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.todo-list {
    margin: 8px 0;
    padding: 0;
    background-color: #fff;
    border-radius: .28571429rem;
    border: 1px solid #ececec;
    list-style: none;
}

.todo-list li {
    position: relative;
    font-size: 1.5em;
    border-bottom: 1px solid #ededed;
    padding: 16px;
}

.todo-list li label {
    padding-left: 30px
}


/* checkbox-fu */

input[type=checkbox] {
    display: none;
}

input[type=checkbox]+label {
    cursor: pointer;
}

input[type=checkbox]+label:before {
    font-family: FontAwesome;
    display: inline-block;
    position: absolute;
    left: 16px;
    top: 18px;    
}

input[type=checkbox]:not(:checked)+label:before {
    content: "\f096";
}

input[type=checkbox]:checked+label:before {
    content: "\f046";
}

input[type=checkbox]:checked+label {
    text-decoration: line-through;
    color: #d9d9d9;
}


/* delete button */

.todo-list li .delete {
    display: none;
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    position: absolute;
    right: 30px;
    top: 11px;
    width: 40px;
    height: 40px;
    color: #bf9999;
    margin-bottom: 20px;
    transition: color 0.2s ease-out;
}

.todo-list li .delete:after {
    font-family: FontAwesome;
    content: '\f00d';
}

.todo-list li .delete:hover {
    color: #bf2222;
}

.todo-list li .delete:focus {
    outline: 0;
}

.todo-list li:hover .delete {
    display: block;
}
